body{
    background-color: rgb(162, 100, 100) ;
    color: rgb(24, 4, 4);
 }
 div{
     width: 200px;
     height: 200px;
     margin: auto;
     font-size: 64px;
 }
 h1{
     text-align: center;
 }
 p{
     text-align: center;
     margin-top: 20px;
     font-size: 20px;
     color: rgb(27, 27, 138);
 }